main {
    background-color: #f4f6f9;
    min-height: 100vh;
    display: flex;
}

.sidebar-box {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    max-width: 15.625rem;
    min-width: 15.625rem;
    background: linear-gradient(to bottom, #000000, #39676a);
    border-right: 1px solid #0000002c;
    z-index: 1;
}

/* Topbar */

.topbar-sticky{
    position: sticky;
    top: 0;
}

.topbar {
    flex: 1;
    width: 100%;
    min-width: 17.5rem;
    display: flex;
    flex-direction: column;
}

.topbar-box {
    display: flex;
    height: 3.7rem;
    width: 100%;
    border-bottom: 1px solid #0000002c;
    text-decoration: none;
    background: #fff;
}

.topbar-body {
    padding: 1rem;
    flex: 1;
}

.sidebar-logo {
    display: flex;
    height: 3.7rem;
    width: 100%;
    text-decoration: none;
}

.sidebar-logo:hover {
    opacity: 0.7;
}

.sidebar-logo-content {
    width: 100%;
    margin: auto 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#store-logo-img {
    position: relative;
    object-fit: contain;
    width: 1.5rem;
    margin-right: 0.625rem;
}

.sidebar-body {
    flex: 1;
    padding: 0 0.8rem;
}

.sidebar-user {
    display: flex;
    align-items: center;
    padding: 0.8rem 0;
    border-bottom: 1px solid #dddddd6c;
    margin-bottom: 1rem;
}

.sidebar-profile-content {
    margin: 0 0.725rem;
}

.sidebar-profile-content img {
    object-fit: contain;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
}

.sidebar-modules ul li a {
    display: flex;
    text-decoration: none;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    border: 1px solid transparent;
}

.sidebar-modules ul li a:hover,
.url-active {
    border-radius: 5px;
    border: 1px solid #fff !important;
}

.sidebar-modules ul li {
    list-style-type: none;
}

.sidebar-modules ul li a img {
    width: 100%;
    max-width: 1.725rem;
    object-fit: contain;
    margin: 0 0.725rem;
}

.sidebar-dropdown {
    cursor: pointer;
}

.topbar-box {
    padding: 1rem;
}

.topbar-box-content {
    display: flex;
    align-items: center;
}

.topbar-box-content h4 {
    margin-top: -2px;
    cursor: pointer;
}

.small-box {
    position: relative;
    right: 1rem;
    top: 3rem; /* Adjust the top position as needed */
    width: 100%; /* Initially set width to 100% */
    max-width: 20rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.16);
    border-radius: 5px;
    overflow: hidden;
}

.user-profile-info {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    background: linear-gradient(to bottom, #000000, #39676a);
}

.user-profile-actions {
    padding: 1rem;
    background-color: #fff;
}

.user-profile-actions a {
    text-decoration: none;
}

.user-profile-info img {
    object-fit: contain;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
}

.logout {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout a {
    text-decoration: none;
    background-color: #111e1f91;
    padding: 0.5rem 2rem;
    border-radius: 5px;
}

.logout a:hover {
    opacity: 0.7;
}

.footer {
    padding: 1rem;
    background-color: #fff;
    border-top: 1px solid #0000002c;
}

.sidebarHW {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none; /* Allow pointer events to pass through */
}

.sidebarMenu {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: grid;
    place-items: center;
    height: 3rem;
    width: 3rem;
    background-color: #39676a;
    color: #fff;
    border-radius: 50%;
    visibility: hidden;
}

.sidebarMenu:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* Ensure that elements within sidebarHW can receive pointer events */
.sidebarHW * {
    pointer-events: auto;
}

@media only screen and (max-width: 700px) {
    .sidebar-box {
        position: fixed;
    }

    .sidebarMenu {
        visibility: visible;
    }
}
